<h1>WorkoutEntries#index</h1>
<p>Find me in app/views/workout_entries/index.html.erb</p>

<h1><%= @year %>年<%= @month %>月</h1>

<!-- TODO: workout の入力欄を 3つ 用意する -->

<div class="wrapper">
    <table>
        <thead>
            <tr>
                <td>おにごっこ</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>名前A</td>
            </tr>
            <tr>
                <td>名前B</td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <td>なわとび</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>名前A</td>
            </tr>
            <tr>
                <td>名前B</td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <td>じゃんけん</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>名前A</td>
            </tr>
            <tr>
                <td>名前B</td>
            </tr>
        </tbody>
    </table>
</div>
<h1><%= @next_year %>年<%= @next_month %>月</h1>

<!-- TODO: workout の入力欄を 3つ 用意する -->