<h1>WorkoutEntries#index</h1>
<p>Find me in app/views/workout_entries/index.html.erb</p>

<h1><%= @year %>年<%= @month %>月</h1>

<!-- TODO: workout の入力欄を 3つ 用意する -->

<form action="/foo" method="POST">
    <input type="text" name="id">
    <input type="text" name="workout_name">
    <input type="submit">
</form>

<div class="wrapper">
    <table>
        <thead>
            <tr>
                <td data-workout_id="1" class="td">おにごっこ</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>名前A</td>
            </tr>
            <tr>
                <td>名前B</td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <td class="td">なわとび</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>名前A</td>
            </tr>
            <tr>
                <td>名前B</td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <td class="td">じゃんけん</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>名前A</td>
            </tr>
            <tr>
                <td>名前B</td>
            </tr>
        </tbody>
    </table>
</div>
<h1><%= @next_year %>年<%= @next_month %>月</h1>

<!-- TODO: workout の入力欄を 3つ 用意する -->