<h1>ChildrenWorkouts#index</h1>
<p>Find me in app/views/children_workouts/index.html.erb</p>

<form action="" method="get" class="form-example">
  <div class="form-example">
    <input type="text" name="name" id="name" required>
  </div>
</form>

<%# 児童の名前候補一覧 %>


<ul class="list-syllabary-ja">
  <li><button class="fifty-character">あ</button></li>
  <li><button class="fifty-character">い</button></li>
  <li><button class="fifty-character">う</button></li>
  <li><button class="fifty-character">え</button></li>
  <li><button class="fifty-character">お</button></li>
  <li><button class="fifty-character">か</button></li>
  <li><button class="fifty-character">き</button></li>
  <li><button class="fifty-character">く</button></li>
  <li><button class="fifty-character">け</button></li>
  <li><button class="fifty-character">こ</button></li>
  <li><button class="fifty-character">さ</button></li>
  <li><button class="fifty-character">し</button></li>
  <li><button class="fifty-character">す</button></li>
  <li><button class="fifty-character">せ</button></li>
  <li><button class="fifty-character">そ</button></li>
  <li><button class="fifty-character">た</button></li>
  <li><button class="fifty-character">ち</button></li>
  <li><button class="fifty-character">つ</button></li>
  <li><button class="fifty-character">て</button></li>
  <li><button class="fifty-character">と</button></li>
  <li><button class="fifty-character">な</button></li>
  <li><button class="fifty-character">に</button></li>
  <li><button class="fifty-character">ぬ</button></li>
  <li><button class="fifty-character">ね</button></li>
  <li><button class="fifty-character">の</button></li>
  <li><button class="fifty-character">は</button></li>
  <li><button class="fifty-character">ひ</button></li>
  <li><button class="fifty-character">ふ</button></li>
  <li><button class="fifty-character">へ</button></li>
  <li><button class="fifty-character">ほ</button></li>
  <li><button class="fifty-character">ま</button></li>
  <li><button class="fifty-character">み</button></li>
  <li><button class="fifty-character">む</button></li>
  <li><button class="fifty-character">め</button></li>
  <li><button class="fifty-character">も</button></li>
  <li class="next-kana-empty"><button class="fifty-character">や</button></li>
  <li class="next-kana-empty"><button class="fifty-character">ゆ</button></li>
  <li><button class="fifty-character">よ</button></li>
  <li><button class="fifty-character">ら</button></li>
  <li><button class="fifty-character">り</button></li>
  <li><button class="fifty-character">る</button></li>
  <li><button class="fifty-character">れ</button></li>
  <li><button class="fifty-character">ろ</button></li>
  <li><button class="fifty-character">わ</button></li>
</ul>




<a href="#">ここにリンクを新規作成した場合</a>